@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* fonts */
    --font-main: "Poppins";
    --font-wt-labels: 400;
    --font-wt-inputs: 400;
    --font-wt-output-purple: 800;
    --font-wt-output-black: 700;
    --font-wt-error: 400;

    /* colors  */
    /* ### Primary */
    --purple: hsl(259, 100%, 65%);
    --st-purple: hsla(259, 100%, 65%, 0.3);
    --light-red: hsl(0, 100%, 67%);
    
    /* ### Neutral */    
    --white: hsl(0, 0%, 100%);
    --off-white: hsl(0, 0%, 94%);
    --light-gray: hsl(0, 0%, 86%);
    --smokey-gray: hsl(0, 1%, 44%);
    --off-black: hsl(0, 0%, 8%);
}

body {
    font-family: var(--font-main);
    font-size: 32px;
    background-color: var(--off-white);
}

main {
    width: 90%;
    margin: 5rem auto;
    padding: 3rem;
    background-color: var(--white);
    border-radius: 2rem;
    border-bottom-right-radius: 10rem;
    box-shadow: 3px 3px 10px var(--light-gray);
}

.age-calc-form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;  
    justify-items: left;  
}

.age-calc-form label {
    display: block;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: var(--smokey-gray);
}

.day-label {
    grid-row: 1;
    grid-column: 1;
}

.month-label {
    grid-row: 1;
    grid-column: 2;
}

.year-label {
    grid-row: 1;
    grid-column: 3;
}

.date-input {
    display: block;
    max-width: 5rem;
    padding: 0.7rem;
    font-family: var(--font-main);
    font-weight: var(--font-wt-inputs);
    font-size: 1.2rem;
    color: var(--off-black);
    border: none;
    border: 2px solid var(--off-white);
    border-radius: 0.5rem;
}

.date-input:hover,
.date-input:focus {
    border: 2px solid var(--st-purple);
}

.date-input.day {
    grid-row: 2;
    grid-column: 1;
}

.date-input.month {
    grid-row: 2;
    grid-column: 2;
}

.date-input.year {
    grid-row: 2;
    grid-column: 3;
}

.day-error-msg,
.month-error-msg,
.year-error-msg {
    font-weight: var(--font-wt-error);
    font-size: 0.8rem;
    font-style: italic;

    color: var(--light-red)

}

.day-error-msg {
    grid-row: 3;
    grid-column: 1;
}

.month-error-msg {
    grid-row: 3;
    grid-column: 2;
}

.year-error-msg {
    grid-row: 3;
    grid-column: 3;
}

.label-error {
    color: var(--light-red);
}

.input-error {
    border: 2px solid var(--light-red);
}

.submit {
    cursor: pointer;
    width: 55px;
    height: 55px;
    margin-bottom: -1.7rem;
    background-color: var(--purple);
    background-image: url("./images/icon-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    border: none;
    border-radius: 100%;
    grid-row: 4;
    grid-column: 2;
    justify-self: center;
}

.submit:hover,
.submit:active {
    background-color: var(--off-black);
}

hr {
    height: 2px;
    margin-bottom: 3rem;
    border: none;
    background-color: var(--off-white);
}

.output {
    font-size: 2.5rem;
    font-weight: var(--font-wt-output-black);
    font-style: italic;
    color: var(--off-black);
}

.output span {
    font-weight: var(--font-wt-output-purple);
    color: var(--purple);
}

.attribution {
    font-size: 11px; 
    text-align: center;
    color: var(--smokey-gray);
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
  
@media (min-width:700px) {
    main {
        max-width: 600px;
    }

    .age-calc-form {
        grid-template-columns: 1fr 1fr 2fr;
        gap: 0.2rem;
    }
    
    .age-calc-form label {
        font-size: 1rem;   
    }

    .date-input {
        max-width: 6rem;
        font-size: 1.5rem;
    }

    .submit {
        grid-row: 4;
        grid-column: 3;
        justify-self: end;
    }

    hr {
        margin-bottom: 2rem;
    }

    .output {
        font-size: 3rem;
    }
}